@using System.Web.Optimization
@{
    ViewBag.Title = "Forgot your password?";
}

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>@ViewBag.Title</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <input type="text" class="form-control" id="inputEmail" name="inputEmail" placeholder="Email Address">
        <div class="col-md-10">
            <input type="text" class="form-control" id="inputEmail" name="inputEmail" placeholder="Email Address">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Email Link" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}